.user-a {
				color: #fff
}

.user-a:hover {
				color: #e1e1e1;
}

.p-10 {
				padding: 10px;
}

.f-s15 {
				font-size: 15px;
}

.icon-img {
				width: 23px;
				margin-left: -6px;
				position: relative;
				top: 3px;
}

.logo-img {
				margin-left: -8px;
				height: 40px;
				width: auto;
}

.info-box a {
				color: #333;
}

.form-horizontal .panel-default {
				/* 	margin-bottom: unset; */
				
}

.panel-default {
				position: relative;
				border-radius: 3px;
				background: #ffffff;
				border-top: 3px solid #d2d6de;
				margin-bottom: 20px;
				width: 100%;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.other-news ul li {
				display: block;
}

.bttop:hover {
				background: #3c8dbc;
}

.bttop {
				position: fixed;
				right: 20px;
				bottom: 50px;
				background: #ccc;
				padding: 10px;
				z-index: 99999;
}

.bttop a {
				color: #444;
}

.button_fixed_bottom {
				right: 0;
				z-index: 10 !important;
}

.content {
				min-height: unset;
}

.content form {
				
}

.skin-blue .sidebar-menu>li.active>ul {
				background: #235775;
}

.skin-blue .sidebar-menu>li.active>ul>li>a {
				color: #fff;
}

.skin-blue .sidebar-menu>li.active>ul>li>a {
				color: #dcdcdc;
}

.skin-blue .sidebar-menu>li.active>ul>li>a:hover {
				color: #fff
}

.sidebar-menu>li>div>a {
				padding: 12px 5px 12px 15px;
				display: block;
}

.skin-blue .sidebar-menu>li>div.active>a {
				border-left-color: #3c8dbc;
				background: #3c8dbc;
}

.skin-blue .sidebar-menu>li>div:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
				color: #fff;
				background: #1e282c;
}

.skin-blue .sidebar-menu>li>a {
				border-left: 3px solid transparent;
}

.sidebar-menu li>a {
				position: relative;
}

body>div.login-box>div>div>div {
				background: url(../images/loading.gif) no-repeat;
				margin-bottom: auto;
				margin-top: 0;
				border: 0;
				background-size: cover;
				background-position: center;
				width: 100%;
				height: 100%;
				min-height: 300px;
}

body>div.login-box>div>div>div>div>h2 {
				color: #fff;
}

.material-button-toggle {
				position: absolute;
				right: 10px;
				top: 23px;
				margin-top: -7px;
				color: #fff;
}

.material-button-toggle>i {
				width: auto;
				height: auto;
				padding: 0;
				margin-right: 10px;
				-webkit-transition: transform .5s ease;
				-o-transition: transform .5s ease;
				transition: transform .5s ease;
}

