.bg-pink-active, .modal-warning .modal-header, .modal-warning .modal-footer {
    background-color: #f1595d !important;
}
.bg-pink, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #f96a6e !important;
}
/* -------------------- */
.skin-pink .main-header .navbar {
				background-color: #f96a6e
}

.skin-pink .main-header .navbar .nav>li>a {
				color: #fff
}

.skin-pink .main-header .navbar .nav>li>a:hover, .skin-pink .main-header .navbar .nav>li>a:active, .skin-pink .main-header .navbar .nav>li>a:focus, .skin-pink .main-header .navbar .nav .open>a, .skin-pink .main-header .navbar .nav .open>a:hover, .skin-pink .main-header .navbar .nav .open>a:focus, .skin-pink .main-header .navbar .nav>.active>a {
				background: rgba(0, 0, 0, 0.1);
				color: #f6f6f6
}

.skin-pink .main-header .navbar .sidebar-toggle {
				color: #fff
}

.skin-pink .main-header .navbar .sidebar-toggle:hover {
				color: #f6f6f6;
				background: rgba(0, 0, 0, 0.1)
}

.skin-pink .main-header .navbar .sidebar-toggle {
				color: #fff
}

.skin-pink .main-header .navbar .sidebar-toggle:hover {
				background-color: #d46064;
}

@media ( max-width :767px) {
				.skin-pink .main-header .navbar .dropdown-menu li.divider {
								background-color: rgba(255, 255, 255, 0.1)
				}
				.skin-pink .main-header .navbar .dropdown-menu li a {
								color: #fff
				}
				.skin-pink .main-header .navbar .dropdown-menu li a:hover {
								background: #367fa9
				}
}

.skin-pink .main-header .logo {
				background-color: #dc6467;
				color: #fff;
				border-bottom: 0 solid transparent
}

.skin-pink .main-header .logo:hover {
				background-color: #d46064;
}

.skin-pink .main-header li.user-header {
				background-color: #f96a6e
}

.skin-pink .content-header {
				background: transparent
}

.skin-pink .wrapper, .skin-pink .main-sidebar, .skin-pink .left-side {
				background-color: #fff;
				box-shadow: 0 0 5px rgba(0,0,0,0.3);
				-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.skin-pink .user-panel>.info, .skin-pink .user-panel>.info>a {
				color: #fff
}

.skin-pink .sidebar-menu>li.header {
				color: #4b646f;
				background: #1a2226;
				text-transform: uppercase;
}

.skin-pink .sidebar-menu>li>a {
				border-left: 3px solid transparent
}
.skin-pink .sidebar-menu>li>a>.material-button-toggle {
				color:#333;
}
.skin-pink .sidebar-menu>li{
				border-bottom: 1px solid #e3e1e1;
				margin: 0 0px;
}

.skin-pink .sidebar-menu>li:hover>a, .skin-pink .sidebar-menu>li.active>a, .skin-pink .sidebar-menu>li.menu-open>a {
				color: #f96a6e;
				font-weight: 700;
}

.skin-pink .sidebar-menu>li.active>a {
				border-left-color: #3c8dbc;
				background: #3c8dbc;
}

.skin-pink .sidebar-menu>li>.treeview-menu {
				margin: 0 0px;
				background: #e2e2e2;
}

.skin-pink .sidebar a {
				color: #333;
}

.skin-pink .sidebar a:hover {
				text-decoration: none
}

.skin-pink .sidebar-menu .treeview-menu>li>a {
				color: #f96a6e;
}

.skin-pink .sidebar-menu .treeview-menu>li.active>a, .skin-pink .sidebar-menu .treeview-menu>li>a:hover {
				color: #333;
}

.skin-pink .sidebar-form {
				border-radius: 3px;
				border: 1px solid #374850;
				margin: 10px 10px
}

.skin-pink .sidebar-form input[type="text"], .skin-pink .sidebar-form .btn {
				box-shadow: none;
				background-color: #374850;
				border: 1px solid transparent;
				height: 35px
}

.skin-pink .sidebar-form input[type="text"] {
				color: #666;
				border-top-left-radius: 2px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 2px
}

.skin-pink .sidebar-form input[type="text"]:focus, .skin-pink .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
				background-color: #fff;
				color: #666
}

.skin-pink .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
				border-left-color: #fff
}

.skin-pink .sidebar-form .btn {
				color: #999;
				border-top-left-radius: 0;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
				border-bottom-left-radius: 0
}

.skin-pink.layout-top-nav .main-header>.logo {
				background-color: #f96a6e;
				color: #fff;
				border-bottom: 0 solid transparent
}

.skin-pink.layout-top-nav .main-header>.logo:hover {
				background-color: #3b8ab8
}

.skin-pink-light .main-header .navbar {
				background-color: #f96a6e
}

.skin-pink-light .main-header .navbar .nav>li>a {
				color: #fff
}

.skin-pink-light .main-header .navbar .nav>li>a:hover, .skin-pink-light .main-header .navbar .nav>li>a:active, .skin-pink-light .main-header .navbar .nav>li>a:focus, .skin-pink-light .main-header .navbar .nav .open>a, .skin-pink-light .main-header .navbar .nav .open>a:hover, .skin-pink-light .main-header .navbar .nav .open>a:focus, .skin-pink-light .main-header .navbar .nav>.active>a {
				background: rgba(0, 0, 0, 0.1);
				color: #f6f6f6
}

.skin-pink-light .main-header .navbar .sidebar-toggle {
				color: #fff
}

.skin-pink-light .main-header .navbar .sidebar-toggle:hover {
				color: #f6f6f6;
				background: rgba(0, 0, 0, 0.1)
}

.skin-pink-light .main-header .navbar .sidebar-toggle {
				color: #fff
}

.skin-pink-light .main-header .navbar .sidebar-toggle:hover {
				background-color: #367fa9
}

@media ( max-width :767px) {
				.skin-pink-light .main-header .navbar .dropdown-menu li.divider {
								background-color: rgba(255, 255, 255, 0.1)
				}
				.skin-pink-light .main-header .navbar .dropdown-menu li a {
								color: #fff
				}
				.skin-pink-light .main-header .navbar .dropdown-menu li a:hover {
								background: #367fa9
				}
}

.skin-pink-light .main-header .logo {
				background-color: #f96a6e;
				color: #fff;
				border-bottom: 0 solid transparent
}

.skin-pink-light .main-header .logo:hover {
				background-color: #3b8ab8
}

.skin-pink-light .main-header li.user-header {
				background-color: #f96a6e
}

.skin-pink-light .content-header {
				background: transparent
}

.skin-pink-light .wrapper, .skin-pink-light .main-sidebar, .skin-pink-light .left-side {
				background-color: #f9fafc
}

.skin-pink-light .main-sidebar {
				border-right: 1px solid #d2d6de
}

.skin-pink-light .user-panel>.info, .skin-pink-light .user-panel>.info>a {
				color: #444
}

.skin-pink-light .sidebar-menu>li {
				-webkit-transition: border-left-color .3s ease;
				-o-transition: border-left-color .3s ease;
				transition: border-left-color .3s ease
}

.skin-pink-light .sidebar-menu>li.header {
				color: #848484;
				background: #f9fafc
}

.skin-pink-light .sidebar-menu>li>a {
				border-left: 3px solid transparent;
				font-weight: 600
}

.skin-pink-light .sidebar-menu>li:hover>a, .skin-pink-light .sidebar-menu>li.active>a {
				color: #000;
				background: #f4f4f5
}

.skin-pink-light .sidebar-menu>li.active {
				border-left-color: #3c8dbc
}

.skin-pink-light .sidebar-menu>li.active>a {
				font-weight: 600
}

.skin-pink-light .sidebar-menu>li>.treeview-menu {
				background: #f4f4f5
}

.skin-pink-light .sidebar a {
				color: #444
}

.skin-pink-light .sidebar a:hover {
				text-decoration: none
}

.skin-pink-light .sidebar-menu .treeview-menu>li>a {
				color: #777
}

.skin-pink-light .sidebar-menu .treeview-menu>li.active>a, .skin-pink-light .sidebar-menu .treeview-menu>li>a:hover {
				color: #000
}

.skin-pink-light .sidebar-menu .treeview-menu>li.active>a {
				font-weight: 600
}

.skin-pink-light .sidebar-form {
				border-radius: 3px;
				border: 1px solid #d2d6de;
				margin: 10px 10px
}

.skin-pink-light .sidebar-form input[type="text"], .skin-pink-light .sidebar-form .btn {
				box-shadow: none;
				background-color: #fff;
				border: 1px solid transparent;
				height: 35px
}

.skin-pink-light .sidebar-form input[type="text"] {
				color: #666;
				border-top-left-radius: 2px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 2px
}

.skin-pink-light .sidebar-form input[type="text"]:focus, .skin-pink-light .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
				background-color: #fff;
				color: #666
}

.skin-pink-light .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
				border-left-color: #fff
}

.skin-pink-light .sidebar-form .btn {
				color: #999;
				border-top-left-radius: 0;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
				border-bottom-left-radius: 0
}

@media ( min-width :768px) {
				.skin-pink-light.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
								border-left: 1px solid #d2d6de
				}
}

.skin-pink-light .main-footer {
				border-top-color: #d2d6de
}

.skin-pink.layout-top-nav .main-header>.logo {
				background-color: #f96a6e;
				color: #fff;
				border-bottom: 0 solid transparent
}

.skin-pink.layout-top-nav .main-header>.logo:hover {
				background-color: #3b8ab8
}