/.buildpath
/.htaccess
/.project
/.settings/
/COPYRIGHT.txt
/LICENSE.txt
/admin/
/assets/
/composer.json
/config.php
/data/
/favicon.ico
/includes/
/index.php
/install/
/modules/
/robots.php
/robots.txt
/themes/
/uploads/
/vendor/
/web.config
!/themes/dashboard
/error.php
