/.buildpath
/.htaccess
/.project
/.settings/
/COPYRIGHT.txt
/LICENSE.txt
/admin/
/assets/
/composer.json
/config.php
/data/
/favicon.ico
/includes/
/index.php
/install/
/modules/
/robots.php
/robots.txt
/themes/
/uploads/
/vendor/
/web.config
!/themes/dashboard
/error.php
/.gitattributes
/CHANGELOG.txt
/OneSignalSDKUpdaterWorker.js
/OneSignalSDKWorker.js
/README.md
/crm.update.php
/invoice.cronjobs.php
/manifest.json
/projects.update.php
/salary.update.php
/theme_dashboard.sql
/workforce.update.php
/workreport.update.php
