# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/money
!/modules/money/*
/themes/*
!/themes/admin_default/css/money.css
!/themes/admin_default/js/money.js
!/themes/admin_default/images/money
!/themes/admin_default/images/money/*
!/themes/admin_default/modules/money
!/themes/admin_default/modules/money/*
!/themes/default/css/money.css
!/themes/default/js/money.js
!/themes/default/js/money-*.js
!/themes/default/images/money
!/themes/default/images/money/*
!/themes/default/modules/money
!/themes/default/modules/money/*
/.project
/.gitattributes
/composer.json
/vendor/
/.settings/
/.buildpath
/error.php
