.m-bottom{
	margin-bottom: 10px
}

#copyright{
	text-align: center
}

.lostpass{
	display: block;
	margin-top: 8px;
}

.content-wrapper .navbar-inverse{
	background-color: #1e282c;
	border-color: #1e282c
}

.content-wrapper ul.navbar-nav{
	margin-bottom: -1px
}

.content-wrapper .navbar{
	margin-bottom: 0
}

.logo-lg img{
	margin-bottom: 5px
}

.module-siteinfo .info-box .info-box-icon{
	height: 88px	
}

.module-siteinfo .info-box .info-box-content .info-box-number{
	font-size: 15px;
	font-weight: normal;	
}
	
.module-siteinfo .info-box .info-box-content .info-box-text{
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 20px;
	font-size: 16px
}

.border-yellow{
	border: solid 1px #f39c12
}

.border-aqua{
	border: solid 1px #00c0ef
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4>small{
	top: 5px !important
}

/*
 * Plugin: Select2
 * ---------------
 */
.select2-container--default.select2-container--focus,
.select2-selection.select2-container--focus,
.select2-container--default:focus,
.select2-selection:focus,
.select2-container--default:active,
.select2-selection:active {
  outline: none;
}
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
  border: 1px solid #d2d6de;
  border-radius: 0;
  padding: 6px 12px;
  height: 34px;
}
.select2-container--default.select2-container--open {
  border-color: #3c8dbc;
}
.select2-dropdown {
  border: 1px solid #d2d6de;
  border-radius: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3c8dbc;
  color: white;
}
.select2-results__option {
  padding: 6px 12px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 0;
  height: auto;
  margin-top: -4px;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 6px;
  padding-left: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 28px;
  right: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0;
}
.select2-dropdown .select2-search__field,
.select2-search--inline .select2-search__field {
  border: 1px solid #d2d6de;
}
.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
  outline: none;
  border: 1px solid #3c8dbc;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[aria-selected=true]:hover {
  color: #444;
}
.select2-container--default .select2-selection--multiple {
  border: 1px solid #d2d6de;
  border-radius: 0;
}
.select2-container--default .select2-selection--multiple:focus {
  border-color: #3c8dbc;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #d2d6de;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3c8dbc;
  border-color: #367fa9;
  padding: 1px 10px;
  color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.7);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #fff;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 10px;
}
ul.sidebar-menu::-webkit-scrollbar {
 width: 5px;
}

ul.sidebar-menu::-webkit-scrollbar-button {
    background: #ccc;
}
ul.sidebar-menu::-webkit-scrollbar-track-piece {
    background: #888
}
ul.sidebar-menu::-webkit-scrollbar-thumb {
    background: #f39c12;
}​
ul.sidebar-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
ul.sidebar-menu{list-style:none;margin:0;padding:0;height: 615px;overflow-y: scroll;}

a.btn-default {
    color: #333;
    text-decoration: none;
}